html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    background-color: #444444;
}

.container {
    display: grid;
    place-items: center;
    grid-template-rows: 5% 80% 10%;
    height: 100vh;
}

.heading {
    text-align: center;
    font-size: 3em;
    z-index: 1;
    padding-top: 0.5em;
    color: white;
    font-weight: 400;
}

.container1 {
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-columns: 1fr 80%;
    grid-template-rows: 1fr 5em;
    place-items: center;
}

.preview-img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
    height: 20rem;
    object-fit: fill;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;

}

.preview-img:hover {
    transform: scale(1.05);
}

.preview-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attnmap {
    height: 20rem;
    width: auto;
    grid-column: 2/3;
    grid-row: 1/2;
}

.pred {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 2em;
    padding-bottom: 4em;
    z-index: 1;
    color: white;
    font-weight: 400;
}

.container2 {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
    width: 50%;
}

.input-file {
    z-index: 1;
    border: 2px solid black;
    padding: 1em;   
    border-radius: 0.5rem;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.input-file:hover {
        background-color: #d2d2d2;
}

.button{
    z-index: 1;
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: #d2d2d2;
    border: 1px solid black;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}
